.container {
   background: #f6f6f6;
   position: relative;
}

.container.active {
   height: 100vh;
   overflow: hidden;
}

.post-box {
   width: 100%;
   position: relative;
}

.comment-box {
   width: 100%;
   position: relative;
}

.comment-box comment:last-child > view {
   padding-bottom: 45rpx;
}